<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:1337/consultaUsuario">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:1337/consultaProducto">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:1337/consultaPedido">Pedidos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if(producto){ %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Editar registro</div>
            <div class="card-body">
                <form action="/editProducto" method="POST">
                    <input id="idproducto" name="idproducto" value="<%= producto.idproducto%>" hidden>
                    <div class="mb-3">
                        <label for="nombreProducto" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" value="<%= producto.nombreProducto%>" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" min="0" class="form-control" id="precio" name="precio" value="<%= producto.precio%>" tabindex="2">
                    </div>
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca" value="<%= producto.marca%>" tabindex="3">
                    </div>
                    <input type="number" min="0" class="form-control" id="cantidad" name="cantidad" value="<%= producto.cantidad%>" tabindex="4" hidden>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/consultaProducto" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
<% }%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>